.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5rem 4rem;
  height: 12rem;

  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.leftBox {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}

.header h1 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--background);
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--primary-dark);
}

.welcomeMessage {
  font-size: 2rem;
  color: var(--background);
  text-decoration: none;
}

.welcomeMessage:hover {
  text-decoration: underline;
}

.cartInfo {
  border-radius: 1rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.cartIcon {
  position: relative;
  display: inline-block;
}

.cartCount {
  position: absolute;
  top: -0.8rem;
  right: -1rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: var(--primary-dark);
  color: var(--gray-100);
  padding: 0.2rem 0.6rem;
}